.App {
  text-align: center;
}

.country {
  display: flex;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.country div:first-child {
  width: 100px;
  margin: 0 10px 0 0;
}

.country div:first-child img {
  width: 100%;
}

.country div:last-child h3 {
  font-size: 20px;
  margin: 0;
}

.country div:last-child p {
  font-size: 16px;
  margin: 0;
}

.search {
  margin: 0 0 10px 0;
  outline: none;
  border: 2px solid #a9a9a9;
  border-radius: 8px;
  padding: 4px 8px;
}
